{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<body class="u-body" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="">
    
    <section class="u-align-center u-clearfix u-section-2" id="carousel_3073">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-60">
                <div class="u-layout-col">
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                          <h2 class="u-align-right u-text u-text-1"><b>Vaibhav Dubewar</b></h2>
                          <p class="u-align-justify u-text u-text-2">This website has been created with the help of django, html and css.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                          <img src="https://source.unsplash.com/1000x500/?men,Kids" class="d-block w-25" alt="...">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
</body>
{% endblock body %}
